* {
  margin: 0;
  padding: 0;
}

:root {
  --orange: #f5501c;
  --white: #ffffff;

  --gray-100: #f0f0f0;
  --gray-200: #d9d9d9;
  --gray-300: #cecece;
  --gray-400: #8c8c8c;
  --gray-500: #888888;
  --gray-600: #555555;
  --gray-700: #000000;

  --green: #00bf39;
  --red: #ed0000;
}

html,
body {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  background-color: var(--gray-100);
}

/* generic ui */
.generic-ui-row {
  padding-left: 1rem;
  padding-right: 1rem;
}

.generic-ui-wrapper {
  max-width: 60rem;
  margin: 0 auto;
}

/* header */
.generic-header {
  padding: 1.5rem 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .title {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--gray-300);
  }

  & .title--current-page {
    color: var(--orange);
    margin-right: 2rem;
  }

  & .generic-header-nav {
    display: flex;
    align-items: center;
    gap: 0.375rem;
  }

  & .profile {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }

  & .action {
    /* TODO: add active, hover, focus-visible */
    display: flex;
    align-items: center;
    background-color: var(--white);
    border-radius: 50%;
    padding: 0.375rem;
    cursor: pointer;
    outline: none;
    border: none;

    & .action-icon {
      width: 1.25rem;
      height: 1.25rem;
      color: var(--gray-400);
    }
  }
}

/* generic footer */
.generic-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--gray-200);
  font-size: 0.75rem;
  margin: 4.5rem 0 1.5rem;
}

/* features */
.dashboard-segment {
  margin-top: 4.5rem;

  & .dashboard-segment-title {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--gray-700);
  }

  & .dashboard-segment-single-data-value {
    font-size: 4.5rem;
    font-weight: 400;
    color: var(--gray-600);
  }

  & .segment-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1.5rem;
    margin-top: 1rem;
  }
}

.card {
  background: var(--white);
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;

  & .card-header {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    gap: 1rem;
    color: var(--gray-600);

    & .card-title {
      font-size: 1rem;
      font-weight: 400;
    }

    & .card-icon {
      width: 1.25rem;
      height: 1.25rem;
      stroke: currentColor;
    }
  }

  & .card-action {
    all: unset;
    display: block;
    margin-top: 1.5rem;
    color: var(--orange);
    font-size: 1rem;
    font-weight: 400;
  }
}

.data-text {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 400;
  color: var(--gray-700);
}

.data-energy {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  & .data-energy-details {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  & .data-energy-icon {
    width: 0.875rem;
    height: 0.875rem;

    & .data-energy-icon-up {
      color: var(--green);
    }

    & .data-energy-icon-down {
      color: var(--red);
    }
  }

  & .data-energy-unit {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--gray-300);
  }
}

.data-energy-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.data-energy-icon-up {
  color: var(--green);
}

.data-energy-icon-down {
  color: var(--red);
}
