* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

/* header */
.generic-header {
  max-width: 60rem;
  margin: 0 auto;
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .title {
    font-size: 1.5rem;
    font-weight: 400;
  }

  & .title--current-page {
    color: orangered;
    margin-right: 2rem;
  }
}
